{% extends 'base.html.twig' %}

{% block title %}Nos livres{% endblock %}

{% block body %}

<h1>Tous nos livres</h1>

<ul class="list-group list-group-flush">
    {% for book in books %}
    <div class="card mb-1 mx-3">
        <div class="card-body">
            <div class="card-title d-flex justify-content-between">
                <a href="{{ path('admin_book_show', {id: book.id}) }}" class="stretched-link link-dark">
                    <h4 class="mb-1">{{ book.title }}</h4>
                </a>
                <small class="text-muted">Identifiant : {{ book.id }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>

{% endblock %}
